.jumbotron h1 {
  font-style: italic;
  text-shadow: 2px 2px white;
}

.jumbotron {
  background-image: url("@{scym-image-path}PeaceableSCYM.JPG");
}

.navbar-brand {
  /* color: firebrick !important; */
  font-weight: bold;
  font-style: italic;
}


#login-div {
  padding: 10px;
  width: 200px;
}


.header-title {
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 3px 2px #0f0f0f; /* #286090; */
  padding-left: 30px;
}

.unused {
  color: #0f0f0f;
}

#signin-button {
  margin-top: 5px;
}

#top-navbar {
  margin-bottom: 5px !important;
}

.panel-footer a {
  color: black;
}

.panel-footer h3 {
  font-size: 110%;
  margin-top: 0;
  margin-left: 20px;
}

.side-nav>li>a {
  padding-top: 1px;
  padding-bottom: 2px;
}
.side-nav {
  padding-bottom: 2px;
}

.quilt-image {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

}

a
//,a:link
,a:visited
,a:hover
//,a:active
 {
  color:  darken( @headings-color, 10%) //#952221;
}



.node h2 a {
  color: @headings-color;
}

.scym-comment-title {
  font-size: 140%;
}

.scym-comments-header {
  font-size: 140%;
}

#scym-new-comment-title {
  font-size: 170%;
}


.comment-form #edit-author--2,
li.comment-add a,
.comment-form .form-item-subject {
  display: none;
}