<div class="row" id="reports-menu">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Registrations and Attenders <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click:showReptRegistrationsReceived">Registrations Recieved</a> </li>
                    <li><a href="#" data-bind="click:showReptRegisteredAttenders" >Attenders</a> </li>
                    <li><a href="#" data-bind="click:showReptAttendersByArrival">Arrivals</a> </li>
                    <li><a href="#" data-bind="click:showReptAttenderNotes">Attender notes</a> </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Meals <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click:showReptMealCounts">Meal counts</a> </li>
                    <li><a href="#" data-bind="click:showReptMealRoster">Meal roster</a> </li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Finance <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"  data-bind="click:showReptPaymentsReceived">Payments</a></li>
                    <li><a href="#"  data-bind="click:showReptMiscCounts">Misc Counts</a></li>
                    <li><a href="#"  data-bind="click:showReptFinancialAid">Financial Aid</a></li>
                    <li><a href="#"  data-bind="click:showReptLedger">Ledger</a></li>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Other <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"  data-bind="click:showReptNotCheckedIn">Not checked in</a></li>
                    <li><a href="#"  data-bind="click:showReptDropIns">Drop-in</a></li>
                </ul>
            </li>
            <li role="presentation" >
                <a href="#" data-bind="click:refreshReports"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" data-bind="visible:selectedReport()=='landing'"><div class="col-md-12"> Select your report from the menu. </div></div>
<div class="row" data-bind="visible:selectedReport()=='registrationsReceived'">
    <div class="col-md-12">
        <div id="registrations-report-container"> <registrations-report></registrations-report> </div>
    </div>
</div>
<div class="row" data-bind="visible:selectedReport()=='mealCounts'">
    <div class="col-md-12">
        <div id="mealcounts-report-container"> <mealcounts-report></mealcounts-report> </div>
    </div>
</div>


<div class="row" data-bind="visible:selectedReport()=='mealRoster'">
    <div class="col-md-12">
        <div id="meals-report-container"> <meals-report></meals-report> </div>
    </div>
</div>

<div class="row" data-bind="visible:selectedReport()=='registeredAttenders'">
    <div class="col-md-12">
        <div id="attenders-report-container"><attenders-report></attenders-report></div>
    </div>
</div>

<div class="row" data-bind="visible:selectedReport()=='attendersByArrival'"><div class="col-md-12">Work in progress, report:attendersByArrival    </div></div>
<div class="row" data-bind="visible:selectedReport()=='attenderNotes'"><div class="col-md-12">Work in progress, report:notCheckedIn    </div></div>
<div class="row" data-bind="visible:selectedReport()=='paymentsReceived'"><div class="col-md-12">Work in progress, report:paymentsReceived    </div></div>
<div class="row" data-bind="visible:selectedReport()=='miscCounts'"><div class="col-md-12">Work in progress, report:miscCounts    </div></div>
<div class="row" data-bind="visible:selectedReport()=='financialAid'"><div class="col-md-12">Work in progress, report:financialAid    </div></div>
<div class="row" data-bind="visible:selectedReport()=='ledger'"><div class="col-md-12">Work in progress, report:ledger    </div></div>


