<div id="housing-reports-section">
    <div class="btn-group btn-group-justified hidden-print visible-lg-block visible-md-block visible-sm-block" role="group" aria-label="..." >
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingRequestCounts">Requested counts</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingAssignmentCounts">Assigned counts</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingDetails">Details</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showWhoWhereReport">Who lives where?</button>
        </div>
    </div>

    <div class="btn-group hidden-print visible-xs-block clearfix" role="group" aria-label="..." >
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingRequestCounts">Requested counts</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingAssignmentCounts">Assigned counts</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showHousingDetails">Details</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click:showWhoWhereReport">Who lives where?</button>
        </div>
    </div>

    <div id="request-counts-report" data-bind="visible:selectedReport()=='requestCounts'">
        <h3>Requested Housing</h3>
        <div id="request-counts" data-bind="foreach:requestCounts">
            <h4 data-bind="text:day"></h4>
                <table class="table">
                    <thead>
                        <th>Housing</th><th>Requested</th><th>Confirmed</th>
                    </thead>
                    <tbody data-bind="foreach:items">
                        <td data-bind="text:housingTypeDescription"></td>
                        <td data-bind="text:requested"></td>
                        <td data-bind="text:confirmed"></td>
                    </tbody>
                </table>
        </div>
    </div>

    <div id="assigned-counts-report" data-bind="visible:selectedReport()=='assignedCounts'">
        <h3>Assigned Housing</h3>
    </div>

    <div id="housing-details-report" data-bind="visible:selectedReport()=='housingDetail'">
        <h3>Housing Details</h3>
    </div>

    <div id="who-where-report" data-bind="visible:selectedReport()=='whoLivesWhere'">
        <h3>Assigned Housing</h3>
    </div>


</div>